---
import { Image } from "astro:assets";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <main
    class="flex flex-col space-y-16 mt-12 lg:-mt-0 flex-grow justify-center"
  >
    Main
  </main>
</Layout>
